* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  /* gap: 30vh; */
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  padding-top: 60vh;
}

.box-p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  margin-top: -60vh;
}


.img-1{
  width: 70%;
  height: 70vh;
  background-image: url(https://images.unsplash.com/photo-1742412615574-ce65e63598d8?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  transition: 0.7s;
  transform: rotateX(-10deg);
  transform: rotateY(-10deg);

}
.img-2{
  width: 70%;
  height: 70vh;
  background-image: url(https://plus.unsplash.com/premium_photo-1693828619300-7dec3cde34ac?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  transition: 0.7s;
  transform: rotateX(-20deg);
  transform: rotateY(10deg);

}

.img-3{
  width: 70%;
  height: 70vh;
  background-image: url(https://images.unsplash.com/photo-1742226111386-b6a84ef8e660?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  transition: 0.7s;
  transform: rotateX(-30deg);
  transform: rotateY(-20deg);

}
.img-4{
  width: 70%;
  height: 70vh;
  background-image: url(https://images.unsplash.com/photo-1742268582642-c28247e00a1d?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  transition: 0.7s;
  transform: rotateX(-35deg);
  transform: rotateY(30deg);

}
.img-5{
  width: 70%;
  height: 70vh;
  background-image: url(https://images.unsplash.com/photo-1742445134107-f88f41be10ed?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  transition: 0.7s;
  transform: rotateX(-40deg);
  transform: rotateY(-10deg);
}